<div class="top">
    <a href="http://127.0.0.1:8080/home" class="a">
        <div class="top_element">
            <img src="/image/spacey_white.png" alt="" class="icon">
        </div>
    </a>
</div>