<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpaceY</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<body>
{{ template "header.tmpl"}}
    <div class="body">
        <div class="block">
            <div class="container">
                <div class="photo"> <img class="image" src="{{ .Image_url }}" alt=""></div>
                <div class="text">
                    <div class="title">ОПИСАНИЕ ЗВЁЗДНОГО КОРАБЛЯ</div>
                    <div class="overview">
                        <div class="item_owerview"> 
                            <span>ИМЯ</span>
                            <span>{{ .Title}}</span>
                        </div>
                        <div class="item_owerview"> 
                            <span>РАКЕТА-НОСИТЕЛЬ</span>
                            <span>{{ .Rocket}}</span>
                        </div>
                        <div class="item_owerview"> 
                            <span>ТИП</span>
                            <span>{{ .Type}}</span>
                        </div>
                        <div class="item_owerview description"> 
                            <span>{{.Description}}</span>
                        </div>
                    </div>
                    <div class="btn">
                        <a href="http://127.0.0.1:8080/home" class="btn_back">Вернуться к списку</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ template "footer.tmpl"}}
</body>
</html>